<!DOCTYPE html>
<html lang="en">
<body class="container">

<header>
"Welcome to the Front End Page""
</header>

<main>
  <div class="jumbotron">

    <h1>This is second submit</h1>
    <form action="/response_2" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username1" name="username1" required />
        <br><br>
        <button type="submit">Submit</button>
    </form>

    <h1>This is Front End Page with Response</h1>
    <h2>District, <%= findResult.district %></h2>
    <h2>GruhaLakshmi Beneficiary For Month, <%= findResult.gjyBeneficiaryForMonth %></h2>
    <h2>subsidyAmntInCr, <%= findResult.subsidyAmntInCr %></h2>
    <h2>District Code, <%= findResult.districtCode %></h2>
    <h2>Month, <%= findResult.month %></h2>
    <h2>gruhjyotiRegistrationCount, <%= findResult.gruhjyotiRegistrationCount %></h2>

</main>


</body>
</html>